form {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

  h1 {
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 90vw;
    color: white;
    font-size: 2rem;
  }
  input[type="submit"] {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
