<div class="chatArea">
  <app-top-bar-component></app-top-bar-component>
  <ul class="messages" #chatList>
    <li class="log">Welcome to Socket Chat {{ getUsername() }}</li>

    <ng-container *ngFor="let mess of messageArray">
      <ng-container *ngIf="mess.type === 'msg'; else logTmp">
        <ng-container *ngIf="mess.username == getUsername(); else elseTemplate">
          <li class="message right">
            <span class="username right">{{ mess.username }}</span>
            <span class="messageBody right">{{ mess.message }}</span>
          </li>
        </ng-container>
        <ng-template #elseTemplate
          ><li class="message">
            <span class="username">{{ mess.username }}</span>
            <span class="messageBody">{{ mess.message }}</span>
          </li>
        </ng-template>
      </ng-container>
      <ng-template #logTmp
        ><li class="log">
          <span class="username">{{ mess.username }}</span>
          <span class="messageBody">{{ mess.message }}</span>
        </li>
      </ng-template>
    </ng-container>

    <li *ngIf="typingUser" class="message typing">
      <span class="username">{{ typingUser }}</span>
      <span class="messageBody">...</span>
    </li>
  </ul>
  <form [formGroup]="inputMsgForm" (ngSubmit)="onSubmit()">
    <input
      class="inputMessage"
      placeholder="Type here..."
      formControlName="inputMessage"
    />
    <button>
      <fa-icon [icon]="faPaperPlane"></fa-icon>
    </button>
  </form>
</div>
