$color1: #0084ff;
$color2: #0067c7;
$color3: #1b364e;

.chatArea {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: $color1;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $color2;
  }

  ul.messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    word-wrap: break-word;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;

    li {
      margin: 1rem;
    }
    li.log {
      color: gray;
      margin: 5px;
      font-size: 1.3rem;
      text-align: center;
      width: 100%;
    }
    li.typing {
      filter: blur(60%);
    }
    li.message.right {
      align-items: flex-end;
      align-self: flex-end;
    }
    li.message {
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
      width: 50%;
      min-width: 360px;
      .username {
        font-weight: 700;
        overflow: hidden;
        padding-right: 15px;
        color: rgb(88, 220, 0);
      }
      .username.right {
        text-align: right;
        padding: 0;
      }
      .messageBody {
        width: fit-content;
        position: relative;
        word-wrap: break-word;
        color: #0067c7;
        background-color: white;
        border: 4px solid $color1;
        padding: 1rem;
        margin-top: 1.5rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        animation: getMessageAnim 1s normal;
      }
      .messageBody::before {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: calc(-1.5rem - 4px);
        left: -4px;
        background-color: $color1;
      }
      .messageBody::after {
        content: "";
        width: 50vw;
        height: 1.5rem;
        position: absolute;
        top: calc(-1.5rem - 4px);
        left: -4px;
        background-color: white;
        border-bottom-left-radius: 1.5rem;
      }
      .messageBody.right {
        border-top-right-radius: 0;
        border-top-left-radius: 1rem;
        color: white;
        background-color: white;
        border: 4px solid $color1;

        background-color: $color1;
      }
      .messageBody.right::after {
        top: -1.75rem;
        left: auto;
        right: -0.2rem;
        background-color: white;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 1.5rem;
      }
      .messageBody.right::before {
        top: -1.7rem;
        left: auto;
        right: -0.2rem;
      }
    }
  }

  @keyframes getMessageAnim {
    0% {
      width: 1rem;
      height: 1rem;
      font-size: 0px;
      color: #00000000;
    }
    20% {
      font-size: 0px;
    }
    100% {
    }
  }
}
@media screen and (max-width: 610px) {
  .chatArea {
    ul.messages {
      li.log {
        font-size: 1.1rem;
        margin: 3px;
      }

      li.message {
        font-size: 1.3rem;
        width: 90%;
        min-width: 100px;
        .messageBody {
          margin-top: 1.3rem;
        }
      }
    }
  }
}
