$color1: #0084ff;
$color2: #0067c7;
$color3: #1b364e;
.topBar {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  font-size: 1.5rem;
  color: white;
  background-color: $color3;
  padding: 1rem;
  .info {
    flex-grow: 1;
    padding-left: 1rem;
    margin-left: 1rem;
    border-left: 2px solid white;
  }
  button {
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    background-color: rgb(60, 177, 255);
  }
  button:hover {
    filter: brightness(120%);
  }
}
@media screen and (max-width: 610px) {
  .topBar {
    font-size: 1.1rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 430px) {
  .topBar {
    h1 {
      flex-grow: 1;
    }
    .info {
      display: none;
    }
  }
}
